<!doctype html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title>hypnoreader</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="client/build/hypnoreader.dev.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
</head>

<body ng-controller="MainCtrl">
    <div id="loading" ng-show="initializing">
        <div> <i class="icon icon-cog spin"></i> Loading </div>
    </div>

    <div id="credentials" class="hdn" ng-show="!authorized" ng-controller="LoginCtrl">

        <div class="logo">
            hypnoreader.com
        </div>

        <div class="controls">

            <form ng-submit="checkPasswd()">

                <div class="errorbox" ng-show="displayError">{{ error }}</div>

                <div class="noconnect" ng-hide="connected">
                    Can't establish websocket connection to hypnoreader.com.<br /> Please ensure websockets connections aren't blocked by your firewall.
                </div>
                <div class="signin" ng-show="connected">
                    <h1 class="h1">Sign In</h1>
                    <h2 class="h2">using your google account</h2>
                    <div class="line">
                        <label class="label">login</label>
                        <input tabindex="1" type="text" ng-model="login" class="login" autocorrect="off" autocapitalize="off" />
                    </div>
                    <div class="line">
                        <label class="label">password</label>
                        <input tabindex="2" type="password" ng-model="password" class="passw" />
                    </div>

                    <button tabindex="3" value="sign in" ng-click="checkPasswd()" class="submit"><i ng-class="icon-ok-sign" ></i> {{submitStatus}}</button>
                </div>

            </form>
        </div>
    </div>

    <div id="holder" ng-show="authorized">

            <div id="feeds" ng-controller="FeedsCtrl" ng-show="!isHidden">

                <div class="toolbar">
                    <div class="button reload hint" ng-click="updateFeeds()" ng-class="{ 'CSSrotate': updating }" data-hint="Reload feeds"> <i class="icon-repeat"></i></div>
                    <div class="button hint" ng-click="logout()" data-hint="Signout"> <i class="icon-signout"></i></div>
                </div>

                <feeds-list></feeds-list>

            </div>

            <div id="atoms" ng-controller="AtomsCtrl">

                <div class="toolbar">
                    <div class="day-title day-title-current"> </div>
                    <div class="button collapse hint" ng-click="collapseFeedsPanel()" data-hint="Collapse/expand feeds panel"> <i class="icon-columns"></i></div>
                </div>

                <div class="scroll">

                    <atoms-list id="atoms-lst-test"></atoms-list>

                </div>
            </div>

            <div id="content" ng-controller="ArticleCtrl">
                <atom-content></atom-content>
            </div>

        </div>

    </div>

    <script type="text/javascript" src="server.js"></script>
    <script type="text/javascript" src="client/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="client/build/hypnoreader.dev.js?2013"></script>

</body>
</html>