#atoms .scroll
{
    // box-shadow: -15px 15px 20px @cFeedsBG;
}

// #atoms .scroll::after
// {
//     position: fixed;
//     left    : 0;
//     top     : @ToolbarHeight;
//     right   : 0;
//     bottom  : 0;
//     width   : @ToolbarHeight;
//     content : " ";

//     background: linear-gradient(to right, rgba( 33, 36, 40, 0) 0%, rgba(33, 36, 40, 1) 100%);
//     background-color: red;
// }


atoms-list
{
    display: block;
    width  : 100%;
    height : 100%;
}

#atoms .toolbar .day-title
{
    width         : @atomsWidth - @ToolbarHeight - @ToolbarHeight / 6; // 265px
    display       : inline-block;
    vertical-align: top;
    text-shadow   : 1px 1px 1px rgba(255, 255, 255, 0.6);
}

.day-title
{
    height          : @ToolbarHeight;
    background-color: @cToolbarLightBG;
    padding-left    : @standartPadding;

    color      : @cBtnFG;
    line-height: @ToolbarHeight;
    font-family: @ffNormal;
}

.day-title.current
{
    display: none;
}

.atom
{
    @AtomHeight: @atomsWidth * 0.382;

    cursor: default;

    color                 : @cBtnFG;
    -webkit-font-smoothing: antialiased;
    line-height           : @fsDefaultLH;
    font-family           : @ffNormal;

    overflow: hidden;
    height  : @AtomHeight;

    /*
        there are some really weird spacings without border
        and I've no idea where they came from
    */
    border    : 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 1px 0px 0px @cFeedsBG, 0px 2px 0 0 @cFeedDark;

    .time
    {
        display: none;
    }

    .spacer
    {
        margin    : @ToolbarHeight / 3 @standartPadding * 2;
        overflow  : hidden;
        max-width : @atomsWidth;
        max-height: @AtomHeight - @standartPadding * 2 + @ToolbarHeight / 6;
    }

    .feed-name
    {
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .title
    {
        color      : @cToolbarLightBG;
        font-family: @ffTitle;
    }


}

.atom.read
{

    .title
    {
        color: @cBtnFG;
    }
}

.atom.active
{
    background-color: @cAtomActiveBG;


    .feed-name,
    .teaser
    {
        color: @cToolbarBG;
    }

    .title
    {
        color: lighten( @cBright, 22% ) ;
        -webkit-font-smoothing: auto;
        text-shadow: 1px 0px 1px @cFeedsBG;
    }
}

.atom.KbdFocus
{
    border-left: 5px solid @cActive;

    .spacer
    {
        margin: @ToolbarHeight / 3 @standartPadding * 2 @ToolbarHeight / 3 @standartPadding * 2 - 4;
    }
}