#content .toolbar
{
    padding-left: @ToolbarHeight * 2;
}

#content .toolbar .button
{
    margin-right: @ToolbarHeight / 3;
}


#data-holder
{
    padding    : 0 @ToolbarHeight * 2 + @ToolbarHeight / 6;
    font-family: @ffNormal;

    color      : @cToolbarLightBG;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);

    max-width  : @atomsWidth * 2 + @atomsWidth / 6;

    padding-top: @scrollPaddingTop;
    // box-shadow  : @ToolbarHeight / 3 @ToolbarBtnSize / 2 @ToolbarHeight / 3 * 2 #212428;
}

@media screen and (max-width: 800px)
{

    #data-holder
    {
        padding: 0 @ToolbarHeight;

        .data-meta .data-title
        {
            font-size  : 1.5em;
            line-height: @fsDefaultLH * 1.5;
        }

        .data-text
        {
            padding    : 0;
            font-size  : @fsText * 0.9;
            line-height: @fsDefault * 1.5;
        }
    }
}


.data-meta
{
    margin: ToolbarHeight 0 ToolbarHeight 0;
    cursor: default;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition   : all .25s ease-in-out;
    transition        : all .25s ease-in-out;

    .data-date,
    author
    {
        color: darken(@cToolbarLightBG, 22%);
    }

}

.data-meta:hover
{
    box-shadow: 0 5px 0px 0px @cActive;
    color     : lighten(@cContentText, 22%);
}


.data-text
{
    padding    : @scrollPaddingTop 0 @scrollPaddingTop * 2 0;
    font-size  : @fsText;
    line-height: @fsText + @ToolbarBtnSize / 2;
    color      : @cContentText;

    text-shadow: none;

    -webkit-font-smoothing: antialiased;

    p
    {
        padding: @standartPadding 0;
    }

    p:empty
    {
        display: none;
    }

    a
    {
        color           : @cToolbarLightBG;
        border-bottom   : 1px dotted @cToolbarLightBG;
        background-color: transparent;

        text-decoration : none;
        box-shadow      : none;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition   : all .25s ease-in-out;
        transition        : all .25s ease-in-out;
    }

    a:hover
    {
        box-shadow: 0px 3px -6px 6px @cActive;
        border    : none;
    }


    // a,
    // a:hover
    // {
    //     -webkit-transition: background-color .25s ease-in-out;
    //     -moz-transition: background-color .25s ease-in-out;
    //     transition: background-color .25s ease-in-out;
    // }


    img,
    a > img
    {
        max-width       : 100%;
        // border       : 3px solid @cBtnFG;
        border-radius   : 2px;
        box-shadow      : 0px 0px 9px -1px rgba( 80, 80, 80, 0.9 );
        outline         : none;
        margin          : @standartPadding 0;
        display         : block;
        background-color: transparent;
    }

    a:empty,
    {
        display: none;
    }

    table
    {
        border         : 1px solid @cToolbarLightBG;
        border-collapse: collapse;
    }

    td
    {
        border : 1px solid @cToolbarLightBG;
        padding: 0.5ex;
    }

    blockquote
    {
        color: darken( @cToolbarBG, 22%);

        border-left  : 5px solid darken(@cContentText, 40%);
        padding      : 0 0 0 @ToolbarHeight;
        margin-bottom: @standartPadding * 2;
        margin-left  : @ToolbarHeight * 1.5;

    }

    // no fancy markup for nested blockquotes
    blockquote blockquote
    {
        border : 0;
        padding: 0;
        margin : 0;
    }

    blockquote:before
    {
        content  : "\201C";
        color    : darken(@cContentText, 40%);
        font-size: 6em;
        display: block;
        margin   : 1ex 0 -1ex -1ex;
    }

    blockquote blockquote:before
    {
        display: none;
    }
}


#data-original
{
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
}

#original-iframe,
#content-original
{
    width : 100%;
    height: 100%;
    border: 0;
}

#content-original
{
    background-color: #FFF;
}