
#feeds
{
    cursor: default;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition   : all 0.25s ease-in-out;
    transition        : all 0.25s ease-in-out;

    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
}

#feeds .toolbar
{
    padding-left: @standartPadding / 2;
}

#feeds .toolbar .button
{
    margin-right: @ToolbarHeight / 3;
}

#feeds.collapsed
{
    width     : 0;
    opacity   : 0;
    overflow-y: hidden;
}

#feeds .scroll
{
    overflow-x : hidden;
    overflow-y : auto;
    padding-top: @scrollPaddingTop;
}


// #feeds .scroll::after
// {
//     position: fixed;
//     left    : @feedsWidth - @ToolbarHeight * 2;
//     top     : @ToolbarHeight;
//     right   : 0;
//     bottom  : 0;
//     width   : @ToolbarHeight * 2;
//     content : " ";
//     background: linear-gradient(to right, rgba( 33, 36, 40, 0) 0%, rgba(33, 36, 40, 1) 100%);
// }


.feeds-group,
.feed
{

    @marginLeft: @standartPadding * 2;
    @feedHeight: @ToolbarHeight;
    @fsUnread  : 10px;

    font-family: @ffNormal;
    color      : @cToolbarLightBG;
    white-space: nowrap;

    .collapse
    {
        display         : none;
        position        : absolute;
        left            : 0;
        width           : @ToolbarHeight;
        background-color: @cFeedsBG;

        margin-top      : 6px;
        padding-left    : 5px;
    }

    .collapse:hover .icon
    {
        color: #FFF;
    }

    .count
    {
        display    : inline-block;
        width      : @marginLeft;
        text-align : right;
        font-size  : @fsUnread;
        padding    : 0 5px 0 0;
        line-height: @feedHeight - @standartPadding;
        color      : @cBtnFG;
    }

    .count.active
    {
        background-color: @cToolbarLightBG;
        color           : @cBtnFG;
    }

    .name
    {
        display      : inline-block;
        padding      : 0 0 0 @standartPadding / 2;
        width        : @feedsWidth - @marginLeft - @standartPadding / 2;

        line-height  : @feedHeight;
        text-shadow  : 0px -1px 0px rgba(0, 0, 0, .5);
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;
    }

    .group-feeds
    {

        overflow: hidden;

        .count
        {
            color: @cFeedDark;
        }

        .name
        {
            color: @cFeedDark;
            padding-left: @standartPadding;
        }
    }
}

.feeds-group:hover
{
    .collapse
    {
        display: block;
    }
}


.feed.active
{
    background-color: @cContentBG;
}


.feeds-group.KbdFocus,
.feed.KbdFocus
{
    .count
    {
        background-color: @cActive;
        color: @cToolbarLightBG;
    }
}

.feeds-group.KbdFocus:hover
{
    .collapse
    {
        color: @cActive;
    }
}
