@charset "UTF-8";

@FontAwesomePath:   "../fonts";

@font-face {
  font-family: 'fontcustom';
  src: url("@{FontAwesomePath}/fontcustom.eot?8");
  src: url("@{FontAwesomePath}/fontcustom.eot?8#iefix") format('embedded-opentype'),
  url("@{FontAwesomePath}/fontcustom.woff?8") format('woff'),
  url("@{FontAwesomePath}/fontcustom.ttf?8") format('truetype'),
  url("@{FontAwesomePath}/fontcustom.svg?8#fontcustom") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontcustom';
    src: url('../font/fontcustom.svg?92646413#fontcustom') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontcustom';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

// .icon-star:before { content: '\2605'; } /* '★' */
// .icon-star-empty:before { content: '\2606'; } /* '☆' */
// .icon-cog:before { content: '\2699'; } /* '⚙' */
// .icon-remove-sign:before { content: '\2716'; } /* '✖' */
// .icon-attention-circle:before { content: '\2757'; } /* '❗' */
// .icon-help-circled:before { content: '\e704'; } /* '' */
// .icon-seen:before { content: '\e70a'; } /* '' */
// .icon-unseen:before { content: '\e70b'; } /* '' */
// .icon-external-link:before { content: '\e715'; } /* '' */
// .icon-signout:before { content: '\e803'; } /* '' */
// .icon-rss:before { content: '\f09e'; } /* '' */
// .icon-columns:before { content: '\f0db'; } /* '' */
// .icon-folder-close:before { content: '📁'; } /* '\1f4c1' */
// .icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
// .icon-original:before { content: '📰'; } /* '\1f4f0' */
// .icon-repeat:before { content: '🔄'; } /* '\1f504' */

.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-remove-sign:before { content: '\2716'; } /* '✖' */
.icon-attention-circle:before { content: '\2757'; } /* '<U+2757>' */
.icon-help-circled:before { content: '\e704'; } /* '<U+E704>' */
.icon-seen:before { content: '\e70a'; } /* '<U+E70A>' */
.icon-unseen:before { content: '\e70b'; } /* '<U+E70B>' */
.icon-external-link:before { content: '\e715'; } /* '<U+E715>' */
.icon-signout:before { content: '\e803'; } /* '<U+E803>' */

.icon-down-open:before { content: '\e75c'; } /* '<U+E75C>' */
.icon-right-open:before { content: '\e75e'; } /* '<U+E75E>' */
.icon-down-open-big:before { content: '\e764'; } /* '<U+E764>' */
.icon-right-open-big:before { content: '\e766'; } /* '<U+E766>' */
.icon-left-open:before { content: '\f007'; } /* '<U+F007>' */

.icon-rss:before { content: '\f09e'; } /* '<U+F09E>' */
.icon-menu:before { content: '\f0c9'; } /* '<U+F0C9>' */
.icon-columns:before { content: '\f0db'; } /* '<U+F0DB>' */
.icon-original:before { content: '📰'; } /* '\1f4f0' */
.icon-repeat:before { content: '🔄'; } /* '\1f504' */
.icon-link:before { content: '\1f517'; } /* '\1f517' */