[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.spin {
  -moz-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


/* ANIMATION */

.aFade-enter-setup,
.aFade-leave-setup,
.aFade-move-setup
{
    -webkit-transition: 80ms linear all;
    -moz-transition: 80ms linear all;
    transition: 80ms linear all;
}

.aFade-enter-setup
{
    opacity: 0.3;
}

.aFade-enter-setup.aFade-enter-start
{
    opacity: 1;
}

.aFade-leave-setup.aFade-leave-start
{
    opacity: 0.3;
}


// .fade-hide-setup,
.fade-show-setup
{
    -webkit-transition: .25s linear all;
    -moz-transition: .25s linear all;
    transition: .25s linear all;
}

// .fade-hide-setup
// {
//     opacity:1;
// }

// .fade-hide-setup.fade-hide-start
// {
//     opacity:0;
// }

.fade-show-setup
{
    opacity: 0;
}

// .fade-show-setup .feed
// {
//     height: 0;
//     height: 0px;
// }

.fade-show-setup.fade-show-start
{
    opacity: 1;
}

// .fade-show-setup.fade-show-start .feed
// {
//     height: 30px;
// }

