/*!
 * This is stipped version
 *
 *
 * HINT.css is a tooltip library made in pure CSS.
 * Hint.css - v1.2.1 - 2013-03-24
 *
 * http://kushagragour.in/lab/hint/
 * Release under The MIT License
 * Copyright (c) 2013 Kushagra Gour; Licensed MIT
 *
 */

@ttMainColor: @cActive;

/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 *
 * Classes added:
 *  1) hint
 */

.hint:before,
.hint:after
{
    position      : fixed;
    visibility    : hidden;
    opacity       : 0;
    z-index       : 30;
    pointer-events: none;

    -webkit-transition: 0.3s ease;
    -moz-transition   : 0.3s ease;
    transition        : 0.3s ease;
}


.hint:hover:before,
.hint:hover:after
{
    z-index: 30;
    visibility: visible;
    opacity   : 1;
}


.hint:before
{
    content   : '';
    // position  : fixed;
    background: transparent;
    border    : 6px solid transparent;
    border-bottom-color: @ttMainColor;
    margin-top: 10px;
    margin-left: 5px;
}

.hint:after
{
    content    : attr(data-hint);
    background : @ttMainColor;
    color      : @cFeedsBG;
    text-shadow: 0 -1px 0px rgba(255, 255, 255, 0.21);
    padding    : 8px 10px;
    font-size  : 12px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow : 4px 4px 8px rgba(0, 0, 0, 0.3);

    // position: fixed;

    margin-left: -18px;
    margin-top: 22px;
}

.hint:hover:before,
.hint:hover:after
{
    -webkit-transform: translateY(8px);
    -moz-transform   : translateY(8px);
    transform        : translateY(8px);
}