<div>
    <div class="toolbar">
        <div class="button hint" ng-show="article.showOriginal" ng-click="loadOriginal('close')" data-hint="Close (ESC)"> <i class="icon-remove-sign"></i></div>

        <div class="button hint" ng-show="article.visible || article.showOriginal" ng-click="markUnread()" data-hint="Mark as unread"> <i ng-class="{ 'icon-unseen' : unreadIcon, 'icon-seen': !unreadIcon }"></i></div>

        <div class="button hint" ng-show="article.visible || article.showOriginal" ng-click="loadOriginal('open')" data-hint="View original inline (C)"> <i class="icon-original"></i></div>
        <div class="button hint" ng-show="article.visible || article.showOriginal" ng-click="openInBrowser()" data-hint="Open in new tab (V)"> <i class="icon-external-link"></i></div>
    </div>

    <div class="scroll">
        <div id="data-holder" ng-show="article.visible">

            <div class="data-meta" ng-click="loadOriginal('open')">
                <datetime class="data-date">{{ article.date | date:"fullDate" }}</datetime>
                <h1 class="data-title">{{ article.title | specialChars }}</h1>
                <author>{{ article.author }}</author>
            </div>

            <div class="data-text" ng-bind-html-unsafe="article.text"></div>
        </div>

        <div id="data-original" ng-show="article.showOriginal">
            <div id="original-iframe">
                <iframe id="content-original" src="" sandbox="allow-scripts allow-same-origin allow-forms"></iframe>
            </div>
        </div>
    </div>
</div>