<div ng-repeat="day in days" class="day">

    <div class="day-title">{{ day.title | date:"EEEE, dd MMMM yyyy" }}</div>

    <!-- <div ng-repeat="atom in day.atoms | orderBy:published" class="atom" ng-click="selectAtom(atom)" ng-class="{ 'active': atom.active, 'read': atom.read }"> -->

    <div ng-repeat="atom in day.atoms" class="atom" ng-click="selectAtom(atom)" ng-animate="'aFade'" ng-class="{ 'active': atom.active, 'read': atom.read, 'KbdFocus': atom.KbdFocus }">
        <div class="spacer">
            <div class="feed-name">{{ atom.feedTitle }}</div>
            <div class="time">{{ atom.ts | date:"HH:mm" }}</div>
            <div class="title">{{ atom.title | specialChars | stripName }}</div>
            <div class="teaser">{{ atom | stripTeaser }}</div>
        </div>
    </div>

</div>