<div class="scroll">

    <div ng-repeat="group in feeds.groups | orderBy:'title'" ng-show="group.unread || group.active" class="feeds-group kbd" ng-class="{ 'KbdFocus': group.KbdFocus }">

        <div class="collapse" ng-click="foldGroup(group)"><i class="icon" ng-class="{ 'icon-down-open': group.open, 'icon-right-open': !group.open }"></i></div>
        <div class="count" ng-class="{ 'active': group.active }">{{ group.unread }}</div>
        <div class="name" ng-click="selectFeed(group, 1)">{{ group.title }}</div>

        <div class="group-feeds" ng-show="group.open" ng-animate="'fade'">

            <div ng-repeat="feed in group.feeds | orderBy:'title'" class="feed" ng-show="feed.unread || feed.active" ng-class="{ 'KbdFocus': feed.KbdFocus, 'kbd': group.open }">
                <div class="count" ng-class="{ 'active': feed.active }">{{ feed.unread }}</div>
                <div class="name" ng-click="selectFeed(feed, 0)">{{ feed.title }}</div>
            </div>
        </div>
    </div>

    <div ng-repeat="feed in feeds.list | orderBy:'title'" class="feed kbd" ng-show="feed.unread || feed.active" ng-class="{ 'KbdFocus': feed.KbdFocus }">
        <div class="count" ng-class="{ 'active': feed.active }">{{ feed.unread }}</div>
        <div class="name" ng-click="selectFeed(feed, 0)">{{ feed.title }}</div>
    </div>
</div>